.RData
.Rhistory
ActCrit/.vs/
ActCrit/ActCrit.sln
ActCrit/ActCrit/
ActCrit/Release/
ActCrit/Fig_2.png
ActCrit/Fig2_/ecol_/Simul/
ActCrit/Fig2_/exper_/Simul/
ActCrit/Fig3_/Vlp0_/Simul/
ActCrit/Fig3_/Vlp0.2_/Simul/
ActCrit/Fig3_/Vlp0.4_/Simul/
ActCrit/Fig3_/Vlp0.6_/Simul/
ActCrit/Fig3_/Vlp0.8_/Simul/
ActCrit/Fig3_/Vlp1_/Simul/
ActCrit/Fig4_/abundance_/Simul/
.Rproj.user
*.png
